<nav class='navbar navbar-expand-md bg-dark-subtle flex-grow-1'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'>
      <span class="fs-4" data-i18n='nav.title'>Dashboard</span></a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarContent'
      aria-controls='navbarContent'
      aria-expanded='false'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0 d-lg-none d-md-none'>
        {{#each role.permissions}}
          <li class='nav-item'>
            <a href='{{path}}' class='nav-link nav-path' data-i18n='{{ref}}'>
              <i class='bi {{icon}} pe-none me-2'></i>
              <span class='lang-text'>{{name}}</span>
            </a>
          </li>
        {{/each}}
        <li><hr /></li>
        <li class='nav-item'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            <i class='bi bi-person-circle'></i>
            {{firstName}}
            {{lastName}}
          </a>
          <ul class='dropdown-menu'>
            <li><a class='dropdown-item account-modal' href='#' data-i18n='nav.account'>Account</a></li>
            <li><a class='dropdown-item logout-modal' href='#' data-i18n='nav.logout'>Log out</a></li>
          </ul>
        </li>
        <li class='language-switcher nav-item'>
          <button
            class='nav-link dropdown-toggle'
            href='#'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            {{config.language}}
          </button>
          <ul class='dropdown-menu'>
            <li><a class='dropdown-item {{#ifEquals config.language "es"}}active{{/ifEquals}}' href='#'  data-lang='es'>Español (es)</a></li>
            <li><a class='dropdown-item {{#ifEquals config.language "en"}}active{{/ifEquals}}' href='#'  data-lang='en'>English (en)</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class='btn-group dropstart d-none d-md-block'>
      <button
        class='btn btn-secondary dropdown-toggle'
        type='button'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        <i class='bi bi-person-circle'></i>
        {{firstName}}
        {{lastName}}
      </button>
      <ul class='dropdown-menu'>
        <li><a class='dropdown-item account-modal' href='#' data-i18n='nav.account'>Account</a></li>
        <li><a class='dropdown-item logout-modal' href='#' data-i18n='nav.logout'>Log out</a></li>
      </ul>
    </div>
  </div>
</nav>