<div
  class='d-none d-md-block d-flex flex-column flex-shrink-0 p-3 text-bg-dark'
>
  <ul class='nav nav-pills flex-column mb-auto'>
    {{#each role.permissions }}
      <li>
        <a href='{{path}}' class='nav-link text-white' aria-current='page' data-i18n="{{ref}}">
          <i class='bi {{icon}} pe-none me-2'></i>
          <span class="lang-text">{{name}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
  <hr />
  <div class='btn-group dropend ps-4 pe-4' id="language-switcher">
    <button
      class='btn btn-outline-light dropdown-toggle btn-sm'
      type='button'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      {{config.language}}
    </button>
    <ul class='dropdown-menu'>
      <li><a class='dropdown-item {{#ifEquals config.language "es"}}active{{/ifEquals}}' href='#'  data-lang='es'>Español (es)</a></li>
      <li><a class='dropdown-item {{#ifEquals config.language "en"}}active{{/ifEquals}}' href='#'  data-lang='en'>English (en)</a></li>
    </ul>
  </div>
</div>